.offset {
  margin-left: 300px;
}

.padding-container{
  padding:0 45px;
}

.search-page{
  .basic-card{
    margin-top:15px;
  }
  h2{
    margin:20px 0;
    font-weight:300;
    font-size:28px;
    color:$main-color;
  }
  h3{
    font-weight:300;
    font-size:24px;
    color:$main-color;
  }

  a{
    color:$main-color;
  }
  a:hover{
    text-decoration: none;
    color:$second-color;
  }
}