// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$main-color:            #60bec4;
$second-color:          #fcd675;
$menu-text-color:       #757575;


//fonts

$main-font:             'Raleway', sans-serif;
$secondary-font:         'Lato', sans-serif;